#intro {
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.introSection .intoContent {
    height: 100vh;
    width: 100vw;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intoContent .hello {
    font-size: 1.75rem;
    font-weight: 300;
}

.intoContent .introText .introName {
    color: yellow;
}

.intoContent .introParagraph {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
.intoContent .btn {
    background-color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btn .btnImg {
    margin: 0 .25rem;
    font-size: 1rem;
}

.introSection .introImg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

@media screen and (max-width:840px) {
    .introSection .introImg {
        right: -10rem;
    }
    .intoContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:480px) {
    .introSection .introImg {
        right: -20rem;
    }
}