<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dennis Muvaa's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        <div class="profile-section">
            <img src="{{ url_for('static', filename='images/dmuvaa.jpg') }}" alt="Dennis Muvaa" class="profile-photo">
            <p class="intro">Hello, I'm Dennis Muvaa. A dedicated Software Engineer and Technical Writer with a passion for creating impactful solutions and conveying complex technical information clearly. Welcome to my portfolio!</p>
        </div>

        <div class="menu">
            <a href="/blog" class="button">Blog</a>
            <a href="/contact" class="button">Contact Me</a>
        </div>
        
        <div class="button-group">
            <a href="/software-engineering" class="button">Software Engineering</a>
            <a href="/technical-writing" class="button">Technical Writing</a>
        </div>
        
        <div class="socials">
            <a href="your_linkedin_profile" class="social-link">LinkedIn</a>
            <a href="your_github_profile" class="social-link">GitHub</a>
            <a href="your_twitter_profile" class="social-link">Twitter</a>
            <!-- Add more as needed -->
        </div>
    </div>
</body>
</html>
